/*
   środa, 31 maja 201712:56:07
   User: 
   Server: EITX-N-00131\SQLEXPRESS
   Database: GraRPG
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE dbo.Tmp_Backpack
	(
	ID int NOT NULL,
	CharacterID int NOT NULL,
	ItemID int NOT NULL
	)  ON [PRIMARY]
GO
ALTER TABLE dbo.Tmp_Backpack SET (LOCK_ESCALATION = TABLE)
GO
IF EXISTS(SELECT * FROM dbo.Backpack)
	 EXEC('INSERT INTO dbo.Tmp_Backpack (ID, CharacterID, ItemID)
		SELECT ID, CharacterID, CONVERT(int, ItemID) FROM dbo.Backpack WITH (HOLDLOCK TABLOCKX)')
GO
DROP TABLE dbo.Backpack
GO
EXECUTE sp_rename N'dbo.Tmp_Backpack', N'Backpack', 'OBJECT' 
GO
ALTER TABLE dbo.Backpack ADD CONSTRAINT
	PK_Backpack PRIMARY KEY CLUSTERED 
	(
	ID
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
COMMIT
select Has_Perms_By_Name(N'dbo.Backpack', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.Backpack', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.Backpack', 'Object', 'CONTROL') as Contr_Per 